.burger-btn {
  position: relative;
  z-index: 10;
  padding: var(--spacing-12) var(--spacing-8);
  width: 44px;
  height: 44px;
  display: none;
  align-items: center;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.burger-btn:hover {
  opacity: var(--opacity-80);
}

.burger-btn::before,
.burger-btn::after {
  content: '';
  position: absolute;
  left: var(--spacing-8);
  height: 2px;
  width: calc(100% - var(--spacing-8) * 2);
  background: var(--color-primary);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-btn::before {
  top: var(--spacing-12);
}

.burger-btn::after {
  bottom: var(--spacing-12);
}

.burger-btn__line {
  height: 2px;
  width: 100%;
  background: var(--color-primary);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-btn_active {
  display: flex;
}

.burger-btn_active .burger-btn__line {
  display: none;
}

.burger-btn_active::before {
  transform: rotate(45deg);
  top: 21px;
}

.burger-btn_active::after {
  transform: rotate(-45deg);
  bottom: 21px;
}

@media screen and (max-width: 480px) {
  .burger-btn {
    display: flex;
  }
}
