.content {
  padding: var(--spacing-60) 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content__title {
  margin-bottom: var(--spacing-8);
}

.content__subtitle {
  color: var(--color-text-secondary);
}
