.header {
  background-color: var(--color-surface);
  padding: var(--padding-header);
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
}

.header:has(.header__menu_active) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: var(--padding-page);
  padding-bottom: var(--spacing-12);
  padding-top: var(--spacing-12);
}

.header__menu {
  display: none;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: flex-end;
  justify-content: center;
  background: var(--color-surface);
  border-top: 1px solid var(--color-primary);
}

.header__menu_active {
  display: flex;
}

.header__menu-list {
  margin: 0;
  padding: 0 var(--spacing-8);
  width: 100%;
  display: flex;
  list-style-type: none;
}

.header__menu-item {
  padding: var(--spacing-16) 0;
  border-top: 1px solid var(--color-primary);
  width: 100%;
}

.header__menu-link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.header__menu-link:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 480px) {
  .header__nav {
    display: none;
  }
}
