.modal {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: var(--spacing-16) var(--spacing-20);
  max-width: 573px;
  box-shadow: var(--box-shadow-l);
  border-radius: var(--radius-sm);
  transition: 0.3s;
}

.modal__title {
  margin-bottom: var(--spacing-8);
}

.modal__subtitle {
  margin-bottom: var(--spacing-8);
}

.modal__description {
  margin-bottom: var(--spacing-20);
  color: var(--color-text-secondary);
}

.modal__actions {
  display: flex;
  gap: var(--spacing-8);
}
