.option {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.option__message {
  margin: 0 var(--spacing-16);
  font-size: var(--font-size-caption);
  line-height: var(--font-line-height-mg);
  color: var(--color-text-secondary);
}

.option__label {
  padding: var(--spacing-12) var(--spacing-16);
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.option__label_type_default:has(.option__input:checked) {
  border-color: var(--color-primary);
}

.option__label:has(.option__input:disabled) {
  pointer-events: none;
}

.option__label_type_default:hover {
  background: var(--color-primary-rgba-05);
}

.option__label_type_default:has(.option__input:disabled) {
  border-color: var(--color-border);
  color: var(--color-border);
}

.option__label_type_default:has(.option__input:disabled) .option__input {
  border-color: var(--color-border);
  background: var(--color-border);
}

.option__label_type_success {
  border-color: var(--color-success);
  color: var(--color-success);
  cursor: default;
}

.option__label_type_error {
  border-color: var(--color-error);
  color: var(--color-error);
}

.option__input {
  appearance: none;
  position: relative;
  width: var(--spacing-20);
  height: var(--spacing-20);
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.option__input::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  inset: 0;
  margin: auto;
  overflow: hidden;
  font-size: 20px;
}

.option__input[type='radio'] {
  border-radius: 50%;
}

.option__input[type='radio']:checked::after {
  width: var(--spacing-12);
  height: var(--spacing-12);
  background: var(--color-primary);
  border-radius: 50%;
}

.option__input[type='checkbox'] {
  border-radius: var(--radius-xs);
}

.option__input[type='checkbox']:checked::after {
  width: var(--spacing-20);
  height: var(--spacing-20);
  background: var(--background-icon-check);
  background-color: var(--color-primary);
  border-radius: var(--radius-xs);
}

.option__label_type_success .option__input {
  border-color: var(--color-success);
}

.option__label_type_success .option__input[type='radio']:checked::after {
  -webkit-mask-image: var(--icon-check-url);
  mask-image: var(--icon-check-url);
  background-color: var(--color-success);
}
.option__label_type_success .option__input[type='checkbox']:checked::after {
  background: var(--background-icon-check);
  background-color: var(--color-success);
}

.option__label_type_error .option__input {
  border-color: var(--color-error);
}

.option__label_type_error .option__input[type='radio']:checked::after {
  -webkit-mask-image: var(--icon-cross-url);
  mask-image: var(--icon-cross-url);
  background-color: var(--color-error);
}

.option__label_type_error .option__input[type='checkbox']:checked::after {
  background: var(--background-icon-cross);
  background-color: var(--color-error);
}
