.progress {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.progress__label {
  color: var(--color-text-secondary);
}

.progress__bar {
  width: 100%;
  height: 6px;
  border: 0;
  background-color: var(--color-border);
  border-radius: var(--radius-xs);
}

.progress__bar::-webkit-progress-bar {
  background-color: var(--color-border);
  border-radius: var(--radius-xs);
}
.progress__bar::-webkit-progress-value {
  background-color: var(--color-primary);
  border-radius: var(--radius-xs);
}

.progress__bar::-moz-progress-bar {
  background-color: var(--color-primary);
  border-radius: var(--radius-xs);
}
