.quiz {
  width: 100%;
  max-width: 752px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.quiz__form {
  gap: var(--spacing-24);
}

@media (max-width: 1200px) {
  .quiz {
    max-width: 704px;
  }
}
