.quizzes__title {
  margin-bottom: var(--spacing-20);
}

.quizzes__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  justify-items: center;
  gap: var(--grid-gutter);
  list-style: none;
}
