.toast {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1000;
  padding: var(--spacing-12) var(--spacing-16);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background: color-mix(in oklab, var(--color-error) 5%, white);
  border-radius: var(--spacing-8);
  border: 1px solid var(--color-error);
}

.toast__img {
  margin-bottom: var(--spacing-4);
  cursor: pointer;
}

.toast__title {
  margin-bottom: var(--spacing-4);
}

.toast__description {
  margin-bottom: var(--spacing-16);
  font-size: var(--font-size-caption);
  line-height: var(--font-line-height-mg);
  color: var(--color-text-secondary);
}
