@import '../base/base.css';
@import '../base/variables.css';

@import '../components/page.css';
@import '../components/header.css';
@import '../components/logo.css';
@import '../components/burger-btn.css';
@import '../components/content.css';
@import '../components/footer.css';
@import '../components/button.css';

@import '../components/quizzes.css';
@import '../components/no-quizzes.css';
@import '../components/quiz-card.css';
