@import '../base/base.css';
@import '../base/variables.css';

@import '../components/page.css';
@import '../components/header.css';
@import '../components/logo.css';
@import '../components/burger-btn.css';
@import '../components/content.css';
@import '../components/footer.css';
@import '../components/button.css';

@import '../components/form.css';
@import '../components/quiz.css';
@import '../components/progress.css';
@import '../components/question.css';
@import '../components/option.css';
@import '../components/modal.css';
@import '../components/toast.css';
